.headerBody {
	display: flex;
	background-image: url(https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/copago-cero/imagenes/ilustraciones/mini-header.webp);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	max-height: calc(100vh - 150px);
}

.headerBody .filtroBlur {
	width: 100%;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
}

.headerBody img {
	width: 100%;
	height: 56,16%;
	max-width: 1250px;
	position: relative;
	/* max-height: 702px; */
	object-fit: contain
}

.contenedorLogo {
	position: absolute;
	right: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}

.contenedorLogo .lados {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 2em;
	max-width: 625px;
}

.lados .lado {
	padding: .5em;
	max-width: 220px
}

.corazon {
	animation: heart-beating 3s infinite ease
}
.lados .izq {
	position: relative;
	z-index: 4;
}
.lado .plus {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 47%;
	z-index: 5
}

@keyframes heart-beating {
	0% {
		transform: scale(1)
	}

	20% {
		transform: scale(0.95)
	}

	30% {
		transform: scale(1)
	}

	40% {
		transform: scale(0.95)
	}

	60% {
		transform: scale(1)
	}

	80% {
		transform: scale(0.95)
	}

	100% {
		transform: scale(1)
	}
}